<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{modulos/publica-header :: header-section}"></head>
    
<body th:style="'background-image:url(' + @{/imagens/obreiros_background.png} + '); background-repeat: no-repeat, repeat; background-size: cover;'">    

    <!-- Full Page Device -->
    <div id="page-container">
        <!-- CONTEUDO DA PAGINA  -->
        <div id="content-wrap">
            <!--  MENU DO SISTEMA  -->
            <div th:insert="~{modulos/publica-nav :: navbar-menu}"></div>
            
            <!--  AREA DO CONTEUDO DINAMICO  -->
            <section class="d-flex align-items-center">
                <div class="container">
                    <div></div>
                </div>
            </section>
            <!--  FIM DO CONTEUDO DINAMICO  -->
            
        </div>
        <!-- ROODAPE DA PAGINA -->
        <div th:replace="~{modulos/publica-footer :: navbar-footer}"></div>
    </div>
</body>
</html>