<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="" />
    <meta name="description" content="Sistema de Gestao de Veiculos - FleetCare Amazon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous"  integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" />
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"               rel="stylesheet" crossorigin="anonymous"/>
    
    <title>FleetCare Amazona</title>
</head>
<body>
<h1>Sorry, you do not have permission to view this page.</h1>

Click <a href="/homepage.html">here</a>
to go back to the Homepage.
</body>