<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="" />
    <meta name="description" content="Sistema de Gestao de Veiculos - FleetCare Amazon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous"  integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" />
    <link rel="stylesheet" href="" th:href="@{/css/estylos.css}" />

    <title>FleetCare Amazon</title>
</head>
<body>
    <!-- Full Page Device -->
    <div id="page-container">
        <!-- CONTEUDO DA PAGINA  -->
        <div id="content-wrap">
            <!--  MENU DO SISTEMA  -->
            <div th:insert="~{modulos/publica-nav :: navbar-menu}"></div>
            
            <!--  AREA DO CONTEUDO DINAMICO  -->
            <section class="d-flex align-items-center">
                <div class="container">
                    <div class="row">  	
                        <div class="col">
                            <br/><h2 th:text="#{user.alterar.usuario.edit.user}"></h2><br/>
                            <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                                <span th:text="${mensagem}"></span>
                            </div>
                            <form action="#" th:action="@{/usuario/atualizar/{id}(id=${usuario.usuarioID})}" th:object="${usuario}" method="post">
                                <div th:replace="~{modulos/user-form-data :: form-fields-user}"></div>
                                <!--  CAMPOS HIDDEN  -->
                                <div class="row mb-3">
                                    <div class="col-sm-2">
                                        <input class="form-control" type="hidden" th:field="*{ativo}" /> 
                                        <input class="form-control" type="hidden" th:field="*{versao}" /> 
                                    </div>
                                </div>                                     
                                
                                <input  class="btn btn-outline-primary btn-sm" type="submit" th:value="#{form.update}"/>
                            </form>	
                        </div>
                    </div>
                </div>
            </section>
            <!--  FIM DO CONTEUDO DINAMICO  -->
            
        </div>
        <!-- ROODAPE DA PAGINA -->
        <div th:replace="~{modulos/publica-footer :: navbar-footer}"></div>
    </div>
</body>
</html>