<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{modulos/publica-header :: header-section}"></head>

<body>

    <!-- Full Page Device -->
    <div id="page-container">
        <!-- CONTEUDO DA PAGINA  -->
        <div id="content-wrap">
            <!--  MENU DO SISTEMA  -->
            <div th:insert="~{modulos/publica-nav :: navbar-menu}"></div>
            
            <!--  AREA DO CONTEUDO DINAMICO  -->
            <section class="d-flex flex-fill align-items-center">
                <div class="col">
                    <div class="row mb-3">
                        <div class="col-1 text-center align-self-center">
                            <a th:href="@{/colaborador/cadastrar}">
                                <img class="imgd-block mx-auto" height="50px" th:src="@{/imagens/adicionar.png}"/></a>
                        </div>
                        <div class="col-11 text-align-left"><br/><h1 th:text="#{user.list}"></h1><br/></div>
                    </div>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th th:text="#{form.cpf}"></th>
                                <th th:text="#{form.name}"></th>
                                <th th:text="#{form.birthday}"></th>
                                <th th:text="#{form.email}"></th>
                                <th th:text="#{admin.editar.papel.usuario.actived}"></th>
                                <th th:text="#{admin.editar.papel.usuario.roles}"></th>
                                
                                <th th:text="#{admin.editar.papel.usuario.atributes}" colspan="3" style="text-align: center;"></th>
                                <th th:text="#{admin.editar.papel.usuario.actions}"   colspan="2" style="text-align: center;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${usuarios.empty}">
                                <td colspan="11" th:text="#{user.no}"></td>
                            </tr>
                            <tr th:each="usuario : ${usuarios}">
                                <td><span th:text="${usuario.cpf}"></span></td>
                                <td><span th:text="${usuario.nomeCompleto}"></span></td>
                                <td><span th:text="${#dates.format(usuario.dataNascimento, 'dd/MM/yyyy')}"> </span></td>
                                <td><span th:text="${usuario.email}"></span></td>
                                <td><span th:text="${usuario.ativo} ? 'ATIVO' : 'DESATIVADO'"></span></td>
                                <td>
                                    <th:block th:each="pp : ${usuario.permissoes}">
                                        <span th:text="${pp.ruleName}"></span><br/>
                                    </th:block>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-outline-primary btn-sm" 
                                       th:href="@{/colaborador/endereco/{id}(id=${usuario.colaboradorID})}"
                                       th:text="#{admin.editar.papel.usuario.address}">
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-outline-primary btn-sm" 
                                       th:href="@{/permissao/atribuir/{id}(id=${usuario.colaboradorID})}"
                                       th:text="#{admin.editar.papel.usuario.roles}">
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-outline-primary btn-sm" 
                                       th:href="@{/instituicao/atribuir/{id}(id=${usuario.colaboradorID})}"
                                       th:text="#{admin.editar.papel.usuario.institute}">
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-outline-primary btn-sm" 
                                       th:href="@{/colaborador/atualizar/{id}(id=${usuario.colaboradorID})}"
                                       th:text="#{admin.editar.papel.usuario.edit}">
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-outline-danger btn-sm" 
                                       th:href="@{/colaborador/remover/{id}(id=${usuario.colaboradorID})}"
                                       th:data-confirm-delete="|Você gostaria de apagar ${usuario.nome}?|"
                                       onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                                       th:text="#{admin.listar.usuario.delete}">
                                    </a>
                                </td>				
                            </tr>
                        </tbody>
                        <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                            <span th:text="${mensagem}"></span>
                        </div>  
                    </table>    
                </div>
            </section>
            <!--  FIM DO CONTEUDO DINAMICO  -->
            
        </div>
        <!-- ROODAPE DA PAGINA -->
        <div th:insert="~{modulos/publica-footer :: navbar-footer}"></div>
    </div>
</body>
</html>
